version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '01:00'
      timezone: 'Europe/Berlin'
    groups:
      docusaurus:
        patterns: ['@docusaurus/*']
      react:
        patterns: ['react', 'react-dom']
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '01:00'
      timezone: 'Europe/Berlin'

