.docsRating svg{
    margin: 0 0 0 12px;
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
}

.docsRating > svg:hover{
    color:blue;
}

.docsRating .i_positive{
    color: green;
}

.docsRating .i_negative{
    color: red;
}

.docsRating {
    background-color: #f5a81b4a;
    color: orange;
    border-radius: var(--ifm-global-radius) var(--ifm-global-radius) var(--ifm-global-radius) var(--ifm-global-radius);
    font-weight: 500;
    margin-top: 16px;
    padding: 16px;
    text-align: left;
    font-size: small;
    position: fixed;
}
