.docsRating svg {
  margin: 0 0 0 6px;
  cursor: pointer;
  float: right;
  width: 24px;
  height: 24px;
  color: #727272;
}

.i_negative:hover {
  color: red;
}

.i_positive:hover {
  color: green;
}

.docsRating {
  color: #727272;
  font-weight: 400;
  font-size: medium;
  width: fit-content;
}
