.docsRating svg{
    height: 1.5em;
    margin: 0 0 0 6px;
    width: 1.5em;
    cursor:pointer;

}
.docsRating > svg:hover{
    color:blue;
}

.docsRating .i_positive{
    transform: translateY(.25em);
    color: green;
}

.docsRating .i_negative{
    transform: scale(-1) translateY(-.25em);
    color: red;
}

.docsRating {
    background-color: #f5a81b4a;
    color: orange;
    border-radius: var(--ifm-global-radius) var(--ifm-global-radius) var(--ifm-global-radius) var(--ifm-global-radius);
    display: inline-block;
    font-weight: 500;
    line-height: 32px;
    margin-left: -30px;
    margin-top: 42px;
    min-height: 66px;
    float:right;
    padding: 16px 30px 16px 40px;
    text-align: center;
}