.docsRating svg{
    height: 1.5em;
    margin: 0 0 0 6px;
    width: 1.5em;
}
.docsRating .i_positive{
    color: green;
}

.docsRating .i_negative{
    color: red;
}

.docsRating {
    background-color: #efa00f4a;
    border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;
    color: black;
    display: inline-block;
    font-weight: 500;
    line-height: 32px;
    margin-left: 0px;
    margin-top: 42px;
    min-height: 66px;
    padding: 16px 30px 16px 40px;
    text-align: center;
}