/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ffa500;
  --ifm-color-primary-dark: #e69400;
  --ifm-color-primary-darker: #d98c00;
  --ifm-color-primary-darkest: #b37300;
  --ifm-color-primary-light: #ffae1a;
  --ifm-color-primary-lighter: #ffb226;
  --ifm-color-primary-lightest: #ffc04d;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #ffae1a;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: #e69400;
}

.sdk-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.sdk-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-height: 0;
  max-width: 0;
  position: relative;
}

.logo-java::before {
  content: '';
  background-image: url(https://help.sap.com/doc/6c02295dfa8f47cf9c08a19f2e172901/1.0/en-US/logo-for-java.svg);
  position: absolute;
  width: 277px;
  height: 150px;
  left: 35rem;
  top: -3rem;
}

.logo-js::before {
  content: '';
  background-image: url(https://help.sap.com/doc/6c02295dfa8f47cf9c08a19f2e172901/1.0/en-US/logo-with-js.svg);
  position: absolute;
  width: 277px;
  height: 150px;
  left: 35rem;
  top: -3rem;
}

@media screen and (max-width: 1440px) {
  .logo-js::before {
    display: none;
  }
  .logo-java::before {
    display: none;
  }
}

@media screen and (max-width: 966px) {
  .logo-js::before {
    display: block;
  }
  .logo-java::before {
    display: block;
  }
}

.code-block-height-js {
  max-height: 30em;
  overflow-y: scroll;
}
