name: Build Cloud SDK Documentation

on:
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Vale Linter
        # You may pin to the exact commit or the version.
        # uses: errata-ai/vale-action@0da98680790f89b8d5b685de9c264f55addc971b
        uses: errata-ai/vale-action@v2.0.1
        with:
          # The files to lint: "all" or "<some_folder>".
          files: __onlyModified
          # Log debugging information to stdout
          debug: false # optional, default is false
        env:
          # Required
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ubuntu-latest-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: ESlint and Prettier
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    needs: [checks]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ubuntu-latest-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build docs
        run: npm run build

  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
    needs: [build]
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.6.0
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
