name: Build Cloud SDK Documentation

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: npm ci
      - name: Build docs
        run: npm run build
      - name: Vale Linter
        # You may pin to the exact commit or the version.
        # uses: errata-ai/vale-action@0da98680790f89b8d5b685de9c264f55addc971b
        uses: errata-ai/vale-action@v1.4.3
        with:
          # A list of styles to install prior to running Vale.
          # styles: # optional
          # An externally-hosted configuration file to use.
          config: https://raw.githubusercontent.com/SAP/cloud-sdk/main/.vale.ini
          # The files to lint: "all" or "<some_folder>".
          files: all
          # Only post annotations on lines that have changed within a PR.
          onlyAnnotateModifiedLines: false # optional, default is false
          # Log debugging information to stdout
          debug: false # optional, default is false
        env:
         # Required
         GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
